<header class="container-fluid">
    <div class="block1">
        <h1>Contact</h1>
        <h2>Sales</h2>
        <p class="find">Visit our <a style="color: #14141f; text-decoration: underline; cursor: pointer;">Find Us</a>
            page to
            locate your nearest Vixon
            store.</p>
        <h3>Customer Support & Roadside Assistance</h3>
        <p class="support">Visit our <a style="color: #14141f; text-decoration: underline; cursor: pointer;">Support</a>
            page to
            find answers and learn about our products.</p>
        <p class="emergency">Emergency Roadside Assistance:</p>
        <ul>
            <li><a style="color: #14141f; text-decoration: underline;">International phone numbers</a></li>
            <li><a style="color: #14141f; text-decoration: underline;">Safety recall information</a></li>
        </ul>
    </div>
    <div class="block2">
        <h2>Careers</h2>
        <p class="careers">Visit our <a style="color: #14141f; text-decoration: underline; cursor: pointer;">careers</a>
            page for
            a list of current employment opportunities.</p>
        <h3>First Responders</h3>
        <p class="responders">Visit our <a style="color: #14141f; text-decoration: underline; cursor: pointer;">first
                responders</a> page to download Vixon reference guides for
            emergency personnel.
        </p>
    </div>
    <div class="block3">
        <h2>Press</h2>
        <p>North America</p>
        <a style="color: #14141f; text-decoration: underline;">Press@vixon.com</a>
        <p class="top">Europe</p>
        <a style="color: #14141f; text-decoration: underline;">EUPress@vixon.com</a>
        <p class="top">Australia and Asia</p>
        <a style="color: #14141f; text-decoration: underline;">APACPress@vixon.com</a>
        <p class="top">China</p>
        <a style="color: #14141f; text-decoration: underline;">China-Press@vixon.com</a>
    </div>
</header>