<header>
    <div id="banner">
        <p class="p1">ENERGY,</p>
        <p class="p2">POWER,</p>
        <p class="p3">WELCOME</p>
        <p class="p4">TO THE FUTURE...</p>
    </div>
</header>
<main>
    <section id="kangaroo">
        <div class="container d-flex justify-content-center">
            <h1>KANGAROO</h1>
            <p>Starting at $359.999</p>
            <div class="row buttons">
                <button type="button" class="btn btn-outline-light rounded-pill m-2"><a style="text-decoration: none;"
                        routerLink="/on-kangaroo" (click)="order_now_kangaroo()">Order Now</a></button>
                <button type="button" class="btn btn-outline-light rounded-pill m-2"><a style="text-decoration: none;"
                        routerLink="/lm-kangaroo" (click)="learn_more_kangaroo()">Learn More</a></button>
            </div>
        </div>
    </section>

    <section id="blade">
        <div class="container d-flex justify-content-center">
            <h1>BLADE</h1>
            <p>Starting at $97.999</p>
            <div class="row buttons">
                <button type="button" class="btn btn-outline-light rounded-pill m-2"><a style="text-decoration: none;"
                        routerLink="/on-blade" (click)="order_now_blade()">Order Now</a></button>
                <button type="button" class="btn btn-outline-light rounded-pill m-2"><a style="text-decoration: none;"
                        routerLink="/lm-blade" (click)="learn_more_blade()">Learn More</a></button>
            </div>
        </div>
    </section>

    <section id="lincoln">
        <div class="container d-flex justify-content-center">
            <h1>LINCOLN</h1>
            <p>Starting at $52.500</p>
            <div class="row buttons">
                <button type="button" class="btn btn-outline-light rounded-pill m-2"><a style="text-decoration: none;"
                        routerLink="/on-lincoln" (click)="order_now_lincoln()">Order Now</a></button>
                <button type="button" class="btn btn-outline-light rounded-pill m-2"><a style="text-decoration: none;"
                        routerLink="/lm-lincoln" (click)="learn_more_lincoln()">Learn More</a></button>
            </div>
        </div>
    </section>

    <section id="conqueror">
        <div class="container d-flex justify-content-center">
            <h1>CONQUEROR</h1>
            <p>Starting at $1.500.000</p>
            <div class="row buttons">
                <button type="button" class="btn btn-outline-light rounded-pill m-2"><a style="text-decoration: none;"
                        routerLink="/on-conqueror" (click)="order_now_conqueror()">Order Now</a></button>
                <button type="button" class="btn btn-outline-light rounded-pill m-2"><a style="text-decoration: none;"
                        routerLink="/lm-conqueror" (click)="learn_more_conqueror()">Learn More</a></button>
            </div>
        </div>
    </section>

    <section id="era">
        <div id="era_one">
            <h1 class="future">FUTURE</h1>
            <h2 class="era1">ERA 1</h2>
            <img src="assets/img/tape.png" alt="Tape" />
        </div>
        <div id="era_two">
            <h1 class="models">MODELS</h1>
            <h2 class="era2">ERA 2</h2>
            <img src="assets/img/tape.png" alt="Tape" />
        </div>
    </section>
</main>
<footer class="position-relative">
    <div class="container  d-flex justify-content-center">
        <img src="assets/img/vixon.png" class="logo1 position-absolute" alt="Vixon" />
        <img src="assets/img/logo.png" class="logo2 position-absolute" alt="Logo" />
        <ul class="position-absolute">
            <li class="m-3"><a style="text-decoration: none;" routerLink="/vixon2020" (click)="vixon2021()">Vixon ©
                    2020</a></li>
            <li class="m-3"><a style="text-decoration: none;" routerLink="/contact" (click)="contact()">Contact</a></li>
            <li class="m-3"><a style="text-decoration: none;" routerLink="/privacy" (click)="privacy()">Privacy &
                    Legal</a></li>
            <li class="m-3"><a style="text-decoration: none;" routerLink="/locations"
                    (click)="locations()">Locations</a>
            </li>
        </ul>
    </div>
</footer>