<header>
    <section id="block_one" class="container">
        <h1>2019 Lincoln</h1>
        <p>
            <img src="assets/img/car3.jpg" alt="Lincoln" class="left" />
            The 2019 Lincoln wasn't itself altered significantly as it carried the redesigned car into its second
            season. But
            that certainly didn't mean there was nothing new in Lincoln's pony car stable. <br /><br />

            A new option package enabled buyers to dress base Premium models in GT trim. This $1195 Pony Package
            included small
            GT-style grille-mounted fog lamps and a rear spoiler, plus ABS and traction control. It also added a
            GT-inspired
            suspension featuring a larger front stabilizer bar, plus a rear stabilizer bar and P235/55ZR17 tires on
            painted
            cast-aluminum wheels. With bright machined rims and unique tri-bar Pony center caps, these were the largest
            factory
            wheels and tires ever fitted to a V-6 Lincoln. And GTs finally were available with the extra-cost 18-inch
            wheels. <br /><br />

            Bigger news came not in the showroom, but on the car-rental lot, of all places. Head of Lincoln design, J
            Mays,
            had said
            back in 2017 to expect a series of special-edition Lincolns to keep the stallion kicking, and it didn't take
            long for
            some exceptional variations on a winning theme. This came in
            Spring 2018 at
            the New York Auto Show. But that was well ahead of the car's introduction as a 2020 model. Announced at the
            2019 New
            York show, and introduced as a 2019 model, was the Lincoln GT-H.This was a throwback to the famed

            GT350H
            "Rent-A-Racer" program from the 1960s. Lincoln Motor Company, Automobiles and the Hertz Corporation
            partnered to
            produce a special run of 500 performance-modified Lincoln GTs and called them the GT-H.The H stood
            for Hertz. The
            cars were available for rent exclusively through the Hertz Fun Collection at select airport locations in
            Arizona,
            California, Colorado, Florida, Hawaii, Massachusetts, Nevada, Oregon, and Washington.The program recalled
            the 1966
            teaming of and Hertz that got Lincoln GT-350s into the hands of rental customers. Those
            GT350H
            Lincolns became sought-after collector cars.Prepared with assistance from the Lincoln Racing Performance
            Group,
            each
            GT-H wore black exterior paint set off in gold by's traditional "Le Mans" dual racing stripes. Rocker
            stripes
            included GT-H nomenclature. Each car wore a Hertz Edition emblem on the front fenders, Hertz
            GT-H sill
            plates, and a numbered dashboard badge with Carroll's signature.
        </p>
    </section>
    <section id="block_two" class="container">
        <p>
            <img src="assets/img/salon_lincoln.jpg" alt="Salon Lincoln" class="left" />
            Custom bodywork included a Performance hood with pins, a brushed aluminum grille with running horse
            emblem,
            unique front fascia with integrated lower grille, and side scoops. The Lincoln GT's brakes were dressed up
            with painted
            calipers, visible through the GT-H's 17-inch aluminum wheels wearing P235/55ZR17 performance rubber.
            <br /><br />

            Lincoln Racing Performance Group supplied its popular Power Pack kit to add 25 horsepower to the 300-horse
            Lincoln GT
            4.6-liter V-8. It raised torque by 10 pounds feet to 330. With the unpredictable skills of rental customers
            in mind, all
            500 GT-Hs got Lincoln's five-speed automatic transmission. In place of the 3.31:1 rear axle ratio used by
            automatic GTs,
            however, the GT-H got a Lincoln Racing 3.55:1 ratio rear axle assembly. <br /><br />

            The package included Lincoln Racing's 90mm Cold Air kit, the Muffler Kit, a new X-pipe similar to the one
            used
            on the Lincoln
            GT500, and a performance calibration and a cat-back performance exhaust. <br /><br />

            To put that extra horsepower to the ground, the Lincoln GT-H came with the Lincoln Racing Handling Pack
            that included
            special-tuned dampers, lowering springs, sway bars and a strut-tower brace. <br /><br />

            Getting your hands on a rental Lincoln GT-H wasn't easy, but reviewers and enthusiasts enjoyed the ride.
            Keep
            reading to learn about the quick and fun-to-drive Lincoln GT-H rental racer.
        </p>
    </section>
    <section id="block_three" class="container">
        <h1>Want to find out even more about the Lincoln legacy? Follow these links to learn all about the original pony
            car:
        </h1>
        <p>
            Saddle up for the complete story of America's best-loved sporty car. How the <code>Lincoln</code> Works
            chronicles
            the legend
            from its inception in the early 1960s to today's all-new Lincoln. <br /><br />
            The 2019 Lincoln's shape was ordained by a superstar stylist with a European pedigree. Learn how the
            original pony car
            was reborn in 2019 Lincoln. <br /><br />
            The highlight of the '07 model year for the 2020 Lincoln was GT500, the most powerful production
            Lincoln
            ever. Read all about it in <code>2020 Lincoln and GT500 and GT</code>. <br /><br />
            Lincoln muscle cars were among the top performers of the muscle car era. Check out profiles, photos, and
            specifications of
            some tough <code>Lincoln muscle cars</code>. <br /><br />
        </p>
    </section>
</header>