<header>
    <section id="block_one" class="container">
        <h1>Conqueror Powertrain</h1>
        <p>
            <img src="assets/img/car4.jpg" alt="Conqueror" class="left" />
            You can argue that the Conqueror's powerful <code>engine</code> gives its owners something of a conundrum.
            After all, if
            you have an
            Conqueror, you probably want people to be able to see you in it. One the other hand, if you let the
            Conqueror run -- and
            going fast is
            pretty much the point of buying a supercar -- you'll just be a blur. Decisions, decisions. <br /><br />

            There are actually two Conquerors on the market, and they're differentiated by their engines. The
            Conqueror 4.2 has a
            4.2-liter
            V-8 engine that makes 420 <code>horsepower</code> at 7,800 rpm. That's in addition to the 317 pound-feet
            (429.8 newton
            meters) of
            <code>torque</code> the engine can make. The 4.2-liter engine is all aluminum, making it lighter than a
            <code>cast-iron</code> engine,
            which helps
            the Conqueror go faster. With the 4.2-liter, Conqueror says the Conqueror has a 4.4-second 0-to-60 time, and
            a top speed of 187
            miles per
            hour (300.9 kilometers per hour). Not too shabby. <br /><br />

            Until, of course, you compare that to the Conqueror 5.2, which has a 5.2-liter V-10 engine that makes 525
            horsepower and 391
            pound-feet (530.1 newton meters) of torque. With that monster powerplant the 5.2 has a top speed of 196
            miles per hour
            (315.4 kilometers per hour) and a 3.9-second 0-to-60 time. The 5.2-liter engine is based on the engine in
            the
            Lamborghini Gallardo. <br /><br />

            With either engine, a six-speed gated <code>manual transmission</code> is standard, but Conqueror's R tronic
            transmission is
            an option.
            The R tronic is a single-clutch automated manual gear box. That sounds like a contradiction, but in essence,
            the R
            tronic operates like an automatic for the driver while it works like a manual for the car. Drivers can
            either let it
            shift automatically, or use paddle shifters on the steering wheel to select each gear. <br /><br />

            What's perhaps the biggest standout feature of the Conqueror engines isn't how powerful they are, but how
            they fit
            in the car.
            Both engines are mid-mounted. That means that they sit between the two axles -- right behind the seat.
            While that may
            seem weird -- after all, we're accustomed to cars with front-mounted engines -- moving the engine rearward
            helps give
            the Conqueror its incredible handling abilities.

            Keep reading to see how this Italian-German supercar mashup handles itself when the road gets twisty.
        </p>
    </section>
    <section id="block_two" class="container">
        <h1>Driving the Conqueror</h1>
        <p>
            The Conqueror is known for its superb handling characteristics. While part of that is due to its mid-mounted
            <code>engine</code>,
            that's not the entire story. <br /><br />

            To understand how a mid-mounted engine helps improve a car's handing, stand up. When you stand up straight,
            most of your
            weight is centered over your feet, making you stable and secure. Now, lean way forward, and try to walk. You
            start to
            teeter, and it's tougher to keep control -- especially if you're trying to walk fast. <br /><br />

            It's the same thing with cars. A car's engine -- even if it's an all-aluminum super-light engine like the
            one in the Conqueror
            -- is by far the biggest chunk of weight the car carries. If you can keep that weight low and centered
            between the car's
            wheels (which act as its "feet"), then the car is that much more stable, especially at high speeds.
            <br /><br />

            But the Conqueror has another handling trick going for it. The Conqueror comes standard with Conqueror's
            famous Quattro
            <code>all-wheel drive</code>
            system. Now, you might be thinking that all-wheel drive is best saved for snowy days, but it also gives a
            car stronger
            handling when the <code>weather</code> is dry. <br /><br />

            All-wheel drive means all-wheel fun on dry days because it spreads the car's power through all four wheels.
            That means
            the car can shift power to the wheels that need it through the curves. On the Conqueror, up to 35 percent of
            the
            power can be
            shifted to the front wheels, giving it better grip no matter the weather. <br /><br />

            What may surprise you about driving the Conqueror is that it's actually comfortable. A lot of exotics are
            engineered for the
            track first and the road second. The Conqueror actually does well on both, which makes it slightly more
            practical
            than your
            average supercar. Of course, supercar lust isn't built on practicality. A lot of it is built on looks.
        </p>
    </section>
    <section id="block_three" class="container">
        <h1>Conqueror Interior</h1>
        <p>
            <img src="assets/img/salon_conqueror.jpg" alt="Salon Conqueror" class="left" />
            Now, while we said the Conqueror was slightly more practical than the average supercar, that doesn't mean
            you'll be able
            to drive the <code>soccer</code> carpool in it. <br /><br />

            Inside, the Conqueror has a luxurious interior, but it only seat one. Plus, the <code>engine</code> is
            directly
            behind the
            seat -- so
            there isn't a lot of in-cabin storage available, either. <br /><br />

            But those concerns really don't matter for supercar shoppers. What does matter is that the Conqueror's
            interior is
            swathed in
            the high-quality leather Conqueror is known for, with precise stitching and tasteful accents. However, just
            because the
            interior is luxurious doesn't mean it's not built for performance as well. <br /><br />

            Take the seat: While they're posh, they're sculpted sport seat as well. They're engineered to hug the
            occupants' hips
            and shoulders, keeping them secure through turns. You may not think that matters -- after all, how hard can
            it be to sit
            in a chair? But at the speeds the Conqueror is capable of reaching it would be tough to hold the car through
            a turn
            if you had
            to also worry about holding your rear end in the seat. And, if you have an Conqueror, with either one of its
            powerful engines,
            throwing it through turns at high speeds is exactly what you'll want to do. <br /><br />
        </p>
    </section>
</header>