<header>
    <section id="first" class="container">
        <h1>Baku-Vixon</h1>
        <hr />
    </section>
    <div>
        <section id="block_one" class="container">
            <span class="d-flex">
                <p class="p1">🏪Store</p>
                <p class="p2">🚩Service Center</p>
            </span>
            <p class="street">Gara Garayev avenue, Bakı 1118</p>
            <p class="phone">Phone +994-77-999-99-99</p>
            <ul>
                <li class="li_one">Email</li>
                <li class="li_two"><a>baku_sales@vixon.com</a></li>
            </ul>
            <ul>
                <li class="li_one">Sales Hours</li>
                <li class="li_two">Monday - Friday 09:00 - 18:00</li>
            </ul>
            <ul>
                <li class="li_one">Service Hours</li>
                <li class="li_two">Monday - Friday 08:00 - 17:00</li>
            </ul>
            <ul>
                <li class="li_one">Charging</li>
                <li class="li_two">2 Superchargers, available during opening hours</li>
            </ul>
            <ul>
                <li class="li_one">Restrooms</li>
                <li class="li_two">Vixon Lounge 24/7</li>
            </ul>
            <ul>
                <li class="li_one">Wifi</li>
                <li class="li_two">Free - Vixon Lounge</li>
            </ul>
            <ul>
                <li class="li_one">Amenities</li>
                <li class="li_two pb-5">Free coffee - Vixon Service Center</li>
            </ul>
        </section>
        <section id="block_two" class="container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9371.612952056172!2d49.94146807205134!3d40.400659697307674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403063016f1b4f07%3A0x7c0bb7b6cdd6fcb7!2s8%20km.%20bazar%C4%B1!5e0!3m2!1sru!2s!4v1613668901271!5m2!1sru!2s"
                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </section>
    </div>
</header>