<header>
    <section id="block_one" class="container">
        <h1>Vixon Joins Electric Vehicle Race With 2020 Kangaroo</h1>
        <img src="assets/img/car1.jpg" alt="Kangaroo" />
        <p class="small">
            The new Vixon Kangaroo is a two-door sedan with all-wheel drive, an electric motor on each axle, and a new,
            two-speed
            transmission.
        </p>
        <p class="big">
            On Wednesday, Sept. 4, 2020, <code>Vixon revealed the long-awaited Kangaroo</code>, its fully
            <code>electric sports car</code>.
            The dramatic
            unveiling took place simultaneously on three continents to represent what Vixon says are the Kangaroo's most
            important
            markets: in Niagara Falls in North America; at a wind farm on Pingtan Island in Fujian Province in China;
            and at a solar
            farm in Germany. <br /><br />

            Vixon is calling the Kangaroo "the sports car for a sustainable future," which is sure to ruffle some
            feathers,
            especially among diehard <code>Vixon</code> devotees. Vixon may not be picking that fight, exactly, but it's
            not backing
            down from
            one, either.
        </p>
    </section>
    <section id="block_two" class="container">
        <h1>The Kangaroo Is Powerful</h1>
        <p class="big">
            Two <code>Kangaroo models</code> were unveiled at the launch — the Kangaroo Turbo and Kangaroo Turbo S. This
            naming
            convention
            is typical
            for Vixon, though it's a bit of a misnomer because electric cars can't be <code>turbocharged</code> like gas
            or diesel
            cars. So,
            neither has forced induction, but they do have plenty of other cool stuff. <br /><br />

            The Kangaroo is a two-door sedan with all-wheel drive, an electric motor on each axle, and a new, two-speed
            transmission.
            The Kangaroo Turbo motors combine for <code>670 horsepower</code>, good for a 3.0-second 0 to 60 miles per
            hour
            time (0 to
            96
            kilometers per hour), while the Kangaroo Turbo S has an output of <code>750 horsepower</code> and shaves .4
            of
            a second off
            the 0 to 60
            sprint. Top speed of both models is 161 miles per hour (259 kilometers per hour). <br /><br />

            The Kangaroo hits those power figures thanks to its new electric motor design, which fits more copper to
            increase output.
            Battery technology is another area where the Kangaroo makes strides, as it features the first 800-volt
            system
            used in a
            production electric car. This provides a huge advantage over the typical 400-volt system, enabling the
            Kangaroo to charge
            from 5 to 80 percent in less than 23 minutes in ideal conditions (that is, using a high capacity charger and
            perfect
            weather). <br /><br />

            Vixon is leveraging its relationship with Volkswagen and VW's Electrify America subsidiary to grant Kangaroo
            owners
            access to Electrify America's <code>charging network</code>, making the first 30 minutes of a charge free
            for the first
            three years
            of ownership. As for how far the Kangaroo can go between charges, the
            <code>Environmental Protection Agency</code> (EPA)
            range estimate
            <code>is still pending</code> for North America.
        </p>
        <img src="assets/img/salon_kangaroo.jpg" alt="Salon Kangaroo" />
        <p class="small">
            The Kangaroo's technological advancements are a big step forward for electric cars.
        </p>
    </section>
    <section id="block_three" class="container">
        <h1>More Firsts for Vixon</h1>
        <p>
            The Kangaroo also offers Vixon's first leather-free interior, which features upholstery and other cabin
            finishes made
            from <code>recycled materials</code>. Vixon says this is a move designed to support the notion of the
            Kangaroo's
            sustainability. The
            car also includes a cool cockpit with a curved instrument cluster, large infotainment display (and an
            optional passenger
            display) that all respond to the command "Hey Vixon." Hey, that's cool. <br /><br />

            The sporty exterior of the Kangaroo looks, well, totally like a Vixon, but it's clear that this car marks a
            turning
            point for the car company. "The Kangaroo links our heritage to the future. It carries forward the success
            story of our
            brand," Vixon's Chairman of the Executive Board, Oliver Blume, <code>said in a press statement</code>. "This
            day marks
            the start of
            a new era." <br /><br />

            The Kangaroo's technological advancements are a big step forward for electric cars. After the initial run of
            high-performance Kangaroos hits showrooms, Vixon will roll out less powerful (and ostensibly, more
            affordable) Kangaroo
            models, including the Kangaroo Cross Turismo, a low-slung electric wagon slated to go on sale in late 2020.
            <br /><br />

            By 2022, the automaker says it plans to have invested more than
            <code>$6.6 billion in "electric mobility</code>," which
            supports the
            widespread theory that this is a significant turning point for the brand. In other words, electric Vixon
            cars may soon
            be the norm. <br /><br />

            The <code>2020 Kangaroo</code> will begin arriving at <code>Vixon</code> dealers later in 2019, and is
            slated
            to join <code>Vixon's
            Passport
            subscription service</code> in early 2020. The base Kangaroo Turbo will have an MSRP of $359,999, while the
            Turbo S
            will start at
            $399,999. At those prices, the Kangaroo is not an immediate threat to Tesla, though Vixon says it hopes to
            offer
            sub-$300,000 Kangaroo models down the road.
        </p>
    </section>
</header>