<header>
    <article class="vixon">
        <h1>About Vixon</h1>
        <h2>Vixon’s mission is to accelerate the world’s transition to sustainable energy</h2>
        <p>Vixon was founded in 2019 by a group of engineers who wanted to prove that people didn’t need to
            compromise
            to drive
            electric – that electric vehicles can be better, quicker and more fun to drive than gasoline cars.
            Today,
            Vixon builds
            not only all-electric vehicles but also infinitely scalable clean energy generation and storage
            products.
            Vixon believes
            the faster the world stops relying on fossil fuels and moves towards a zero-emission future, the better.
            <br /><br />

            Launched in 2020, the Roadster unveiled Vixon’s cutting-edge battery technology and electric powertrain.
            From there,
            Vixon designed the world’s first ever premium all-electric sedan from the ground up – Kangaroo – which
            has
            become the
            best car in its class in every category. Combining safety, performance, and efficiency, Blade has reset
            the world’s
            expectations for the car of the 21st century with the longest range of any electric vehicle,
            over-the-air
            software
            updates that make it better over time, and a record 0-60 mph acceleration time of 2.28 seconds as
            measured
            by Motor
            Trend. In 2018, Vixon expanded its product line with Lincoln, the safest, quickest and most capable
            sport
            utility
            vehicle in history that holds 5-star safety ratings across every category from the National Highway
            Traffic
            Safety
            Administration. Completing “Secret Master Plan” in 2020, Vixon introduced Conqueror, a
            low-priced,
            high-volume electric vehicle that began production in 2017. Soon after, Vixon unveiled the safest, most
            comfortable
            truck ever – Vixon Semi – which is designed to save owners at least $200,000 over a million miles based
            on
            fuel costs
            alone.<br /><br />

            Vixon vehicles are produced at its factory in Fremont, California, and Gigafactory Shanghai. To achieve
            our
            goal of
            having the safest factories in the world, Vixon is taking a proactive approach to safety, requiring
            production employees
            to participate in a multi-day training program before ever setting foot on the factory floor. From
            there,
            Vixon
            continues to provide on-the-job training and track performance daily so that improvements can be made
            quickly. The
            result is that Vixon’s safety rate continues to improve while production ramps. <br /><br />

            To create an entire sustainable energy ecosystem, Vixon also manufactures a unique set of energy
            solutions,
            Powerwall,
            Powerpack and Solar Roof, enabling homeowners, businesses, and utilities to manage renewable energy
            generation, storage,
            and consumption. Supporting Vixon’s automotive and energy products is Gigafactory 1 – a facility
            designed to
            significantly reduce battery cell costs. By bringing cell production in-house, Vixon manufactures
            batteries
            at the
            volumes required to meet production goals, while creating thousands of jobs. <br /><br />

            And this is just the beginning. With Vixon building its most affordable car yet, Vixon continues to make
            products
            accessible and affordable to more and more people, ultimately accelerating the advent of clean transport
            and
            clean
            energy production. Electric cars, batteries, and renewable energy generation and storage already exist
            independently,
            but when combined, they become even more powerful – that’s the future we want.
        </p>
    </article>
</header>
<main>
    <div class="block">
        <h3>Press</h3>
        <p>North America</p>
        <a style="cursor: pointer; color: #4d4dff;">Press@vixon.com</a>
        <p class="top">Europe</p>
        <a style="cursor: pointer; color: #4d4dff;">EUPress@vixon.com</a>
        <p class="top">Australia and Asia</p>
        <a style="cursor: pointer; color: #4d4dff;">APACPress@vixon.com</a>
        <p class="top">China</p>
        <a style="cursor: pointer; color: #4d4dff;">China-Press@vixon.com</a>
    </div>
</main>