<header>
    <div class="drive">
        <h1>Schedule a Touchless Test Drive</h1>
        <p class="p1">The new default for a zero-contact experience. <a style="cursor: pointer; color: #000;">Learn
                more</a> online
            to prepare for
            your
            self-guided appointment.</p>
        <p class="p2">Drivers must have a valid U.S. driver's license.</p>
        <div class="block">
            <h2 class="fn">First Name</h2>
            <h2 class="ln">Last Name</h2>
        </div>
        <div class="block2">
            <input class="first_input" type="text" />
            <input class="last_input" type="text" />
        </div>
        <h2 class="cp">Contact Preference</h2>
        <select class="pl-3" id="sel1">
            <option class="phone">Phone</option>
            <option class="email">Email</option>
        </select>
        <h2 class="pn">Phone number</h2>
        <input class="in1" type="text" />
        <h2 class="ea">Email Address</h2>
        <input class="in2" type="text" />
        <h2 class="rg">Region</h2>
        <select class="pl-3" id="sel2">
            <option class="">USA</option>
            <option class="">Russia</option>
            <option class="">Germany</option>
            <option class="">Italy</option>
            <option class="">France</option>
            <option class="">Spain</option>
            <option class="">Portugal</option>
            <option class="">Netherlands</option>
        </select>
        <h2 class="zc">Zip Code</h2>
        <input class="in3" type="text" />
        <div class="d-flex block3">
            <input class="in4" type="checkbox" />
            <p class="gvu ml-2"><a style="cursor: pointer; color: #4d4dff;">Get Vixon Updates</a></p>
        </div>
        <button type="button" class="btn btn-info">SUBMIT AND CONTINUE</button>
        <p class="agree">By clicking "Submit & Continue" I agree to share the provided information with Vixon to be
            contacted with
            more details
            or offers about Vixon products. I understand these calls or texts may use computer-assisted dialing or
            pre-recorded
            messages. This consent is not a condition of the test drive.</p>
    </div>
</header>