<header>
    <section>
        <div class="first">
            <h1>Get Started</h1>
            <p>Learn about your Vixon ownership experience – including designing and taking delivery of your car.</p>
            <ul>
                <li><a>Ordering a New Vixon</a></li>
                <li><a>Ordering a Used Vixon</a></li>
                <li><a>Prepare for Delivery Day</a></li>
                <li><a>What to Expect on Delivery Day</a></li>
                <li><a>After Taking Delivery</a></li>
                <li><a>Find Us</a></li>
            </ul>
        </div>
        <div class="second">
            <img src="assets/img/support.jpg" alt="Car" />
        </div>
    </section>
    <section>
        <div class="third">
            <img src="assets/img/support2.jpg" alt="Car" />
        </div>
        <div class="fourth">
            <h1>Video Guides</h1>
            <p>View the video library – designed to educate you on product features.</p>
            <ul>
                <li><a>Kangaroo</a></li>
                <li><a>Blade</a></li>
                <li><a>Lincoln</a></li>
                <li><a>Conqueror</a></li>
            </ul>
        </div>
    </section>
</header>