<header>
    <section id="block_one" class="container">
        <h1>How the Blade BF Works</h1>
        <p>
            <img src="assets/img/car2.jpg" alt="Blade" class="left" />
            The Blade BF created a great deal of controversy when it was announced in January 2018, in part because it
            represents
            a break from Blade's sports car tradition. The BF (an abbreviation for "Blade Four") is as much a family
            car as a
            sports model, with a comfortable two-seat interior and a spacious luggage compartment. Perhaps the most
            radical thing
            about it is that it's Blade first car with <code>four-wheel drive</code>. (Note all those "fours" -- two
            seats and
            four-wheel
            drive. It's not hard to figure out what the "four" in Blade four refers to.) <br /><br />

            So does the introduction of a four-wheel drive family car to their line mean that Blade is planning to
            shed its
            reputation for speed, acceleration and sporty handling? Not at all. In an ingenious bit of engineering,
            Blade has
            managed to create what is quite possibly the fastest accelerating four-wheel drive car on the road. They've
            done this by
            giving the BF the largest engine of any Blade, along with a four-wheel drive system that weighs half as
            much as
            similar systems usually do. According to its manufacturer, the BF can accelerate from 0 to 62 miles per hour
            (100
            kilometers per hour) in just 3.7 seconds, with an impressive 651 <code>horsepower</code> giving it a top
            speed of 208
            miles per hour
            (334.7 kilometers per liter). <br /><br />

            The design of the BF, with its hefty rear end, hasn't pleased all Blade fans, but the fact the BF
            sacrifices
            surprisingly little performance in the name of family friendliness makes it a notable addition to the
            Blade line. How
            have Blade's engineers managed to combine a four-wheel drive system and a spacious interior with sporty
            handling? The
            answer lies in the design of the drive train, which uses Blade's innovative gearing system and a clever
            method of
            distributing <code>torque</code> to the front and rear wheels to milk the maximum performance out of a
            four-wheel drive.
            In fact,
            they've managed to create a four-wheel drive car that feels to the driver almost exactly like a car with
            rear-wheel
            drive. <br /><br />

            How have they done that? We'll look at the details on the following pages.
        </p>
    </section>
    <section id="block_two" class="container">
        <h1>Blade BF Design</h1>
        <p>
            <img src="assets/img/salon_blade.jpg" alt="Salon Blade" class="left" />
            Blade's aim in designing the BF was to build a successor to its previous two-seater, the 612 Scaglietti
            fastback
            coupé. In fact, two-seater vehicles are nothing new for Blade, but it's clear that the BF's designers
            wanted to
            create something more comfortable and spacious than previous models, something that a family of four can use
            on long
            cross-country trips. The 15 cubic feet (.42 cubic meters) of luggage space (double that if the rear seats
            are folded)
            make a much better option for weekend outings than anything else in the Blade line. <br /><br />

            Externally, the design is what's sometimes called a "shooting brake" -- it's too sporty to call a hatchback
            -- with two
            doors on the sides plus a third that opens on the rear. The rooflines are designed to channel air in a way
            that prevents
            a vacuum from forming behind the chopped-off hatchback rear and producing drag. Similarly, the side grilles
            lets air
            escape from the front wheel wells so that the car won't liftoff like an <code>airplane</code> at high
            speeds. <br /><br />

            The part of the BF's exterior that Blade fans either love or hate is the large, sliced-off rear end, which
            is built
            large to allow a fair amount of space in the trunk. It clearly says hatchback when the car is viewed in
            profile, but
            vacationing Blade owners probably won't mind when they discover how much luggage the rear
            holds.<br /><br />

            Inside, the BF's upholstery is aniline leather. Six different colors of interior are available. Two
            electronic displays
            on the <code>dashboard</code> provide real-time information about the car's status while as many controls as
            possible are
            located on
            the <code>steering</code> column. Legroom is vast and conducive to comfortable seating, with space for
            6-foot (1.8-
            meter) tall
            passengers to stretch out without feeling cramped. <br /><br />

            All this spaciousness suggests that the BF must be too large and too heavy to handle well, yet Blade
            insists, rather
            convincingly, that this is not so. How did Blade's engineers give the BF this much interior space, plus
            <code>all-wheel
            drive</code>, yet maintain the sporty handling that was expected of them? We'll get to that on the next
            page.
        </p>
    </section>
    <section id="block_three" class="container">
        <h1>Blade BF Specs</h1>
        <p>
            <img src="assets/img/badge_blade.jpg" alt="Badge Blade" class="left" />
            There are two reasons that the BF's <code>four-wheel drive</code>, dubbed 4RM by Blade, handles more like
            a rear-wheel
            drive. The
            first is that for much of the time that you'll be driving it, the BF is running with rear-wheel drive alone.
            The
            <code>on-board computer</code> in charge of the BF's predictive torque distribution detects when the front
            wheels are
            starting to
            slip and only then starts routing power to anywhere but the rear wheels. The second reason is that the drive
            train uses
            dual <code>transmissions</code> and dual driveshafts of a type developed by Blade for earlier models, with
            a two-gear
            transmission
            pulling power off the front end of the <code>engine</code> and transmitting power to the front wheels while
            a seven-gear
            transmission
            relays power to the rear wheels. The lower gear of the front transmission corresponds to the first two gears
            on the rear
            transmission, the second gear to the third and fourth gears of the rear transmission, with the rear
            transmission solely
            in charge at higher gears. This allows Blade to make the four-wheel drive system unusually light -- about
            half the
            weight of a typical four-wheel drive system. Superior weight distribution helps the BF to hug the road, with
            the huge
            motor in the front balanced out by the large trunk area. <br /><br />

            The BF's 6.3-liter, <code>direct-injection</code> V-12 engine is up to the job of accelerating this
            surprisingly
            lightweight vehicle.
            It generates 504 pound-feet (683.3 newton-meters) of torque and 651 <code>horsepower</code>, which in some
            neighborhoods
            would
            qualify it for supercar status. The BF uses a magnetorheological damping system in its
            <code>shock absorbers</code>,
            allowing the
            damping characteristics of the shocks to be altered via a computer-controlled magnetic field, so that the
            shocks can
            respond to changing road conditions. Blade's HELE (high-emotion, low-emission) technology, borrowed from
            the Blade
            California, removes carbon dioxide emissions, helping the BF meet ever more stringent federal and local
            emissions
            regulations. <br /><br />

            All in all, the Blade BF is an impressive piece of design and engineering. Blade fans need not worry
            that the
            Italian carmaker has sold out its sports car heritage in a campaign to attract the family market. In fact,
            it appears
            they've done a clever job of having their cake and eating it too. <br /><br />
        </p>
    </section>
</header>